.footer{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}