.header{
    width: 100%;
    background-color: cornflowerblue;
    height: 40px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    box-sizing: border-box;
}