.user-list {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  &__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 20px;
    height: auto;
    flex-wrap: wrap;
    }
&__pagination {
    display: flex;
    margin-left: 10px;
    width: 10vw;
    background-color: cornflowerblue;
    
    padding: 10px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
